<div class="container">
    <h2 class="text-center text-warning bg-dark mt-4 p-2 rounded">About Us</h2>
<p class="text-dark">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa odio, consectetur ex tempore odit atque perferendis soluta maiores harum ratione totam consequatur aspernatur necessitatibus facere, quae nihil veritatis accusamus dolor.</p>
<h4 class="text-center">Meet Our Team</h4>
<div *ngFor="let p of persons">
    <ul class="list-unstyled" >
        <li>{{p.img}}</li>
        <li>{{p.name}}</li>
    </ul>
</div>
</div>
