<div class="row my-3">
    <h3 class="text-center font-weight-bold">Users</h3>
    <ul class="col-md-4 col-12 list-unstyled"*ngFor="let user of users; let i = index">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title"> {{user.name}} </h5>
              <h6 class="card-subtitle mb-2 text-muted">email: {{user.email}}</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="card-link text-primary">Go To Profile</a>
            </div>
          </div>
    </ul>
</div>


